*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: Arial, Helvetica, sans-serif;
}

.container{
  width: 90%;
  margin: 0 auto;
}

.btn{
  border-radius: 40px;
  font-weight: bold;
}

.btn-blue{
  padding: 15px 50px;
  text-align: center;
  background-color: #0084fd;
  color: #FFFFFF;
  margin-top: 40px;
}

/*header*/
header{
  background-color: #0084fd;
  height: 60px;
}

.header-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
}

header .header-container .burger-menu{
  color: white;
  font-size: 1.4rem;
  cursor: pointer;
}

header .header-container .menu{
  display: none;
}

/*main*/
main .colored-section, main .benefits, main .cta{
  background-color: #9792e4;
}

/*card section*/

main .card {
  background-color: #b5ddff;
  width: 100%;
  padding: 20px;
  margin: 40px 0;
  border-radius: 25px;
}


main .card img{
  max-width: 100%;

}

main .card h2{
  margin: 20px 0;
  color: #0084fd;
}

main .card p{
  color: #5a6e7f;
  line-height: 160%;
  font-weight: 600;
  margin-bottom: 30px;
}

main .card-section .text-center{
  text-align: center;
}

main .card-section .text-center i{
  color: #0084fd;
  font-size: 4rem;
}

/*colored section*/

main .colored-container{
  padding: 30px 0;
}

main .colored-section img{
  max-width: 90%;
  
}

main .colored-section .text h2{
  color: white;
  margin: 20px 0;
}

main .colored-section .text p, main .colored-section .box p{
  line-height: 160%;
  font-size: 1.1rem;
  margin: 30px 0;
}

main .colored-section .text p{
  color: white;
}

main .colored-section .box{
  background-color: white;
  padding: 30px;
  border-radius: 30px;
  text-align: center;
}

main .colored-section .box i{
  background-color: #9792e4;
  cursor: pointer;
  padding: 15px;
  border-radius: 50%;
}

/*testimonial section*/
main .testimonials{
  text-align: center;
}

main .testimonials .testimonial-cards{
  background-color: orange;
  display: flex;
  flex-direction: column;
}

main .testimonials .testimonial-cards .testimonial{
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
}

/*benefits section*/
main .benefits .benefit-card{
  background-color: lightgreen;
  height: 150px; /*da togliere*/
  margin-bottom: 20px;
}

main .benefits h2{
  text-align: center;
}

/*about us section*/
main .about-us .description{
  background-color: brown;
}

main .about-us .slogan{
  background-color: lightpink;
}

/*cta section*/
main .cta .cta-container{
  text-align: center;
}

/*footer*/
footer{
  background-color: #333333;
  height: 200px;
  text-align: center;
}

/*************soluzioni responsive*****************/


/*risoluzione tablet*/
@media screen and (min-width: 768px){
  .container-card{
    flex-direction: row;
    justify-content: space-between;
    
  }

  main .container-card .row{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  main .big-card{
    width: 65%;
  }

  main .big-card .card{
    display: flex;
  }

  main .small-card{
    width: 32%;
  }


  main .benefits .benefits-container, main .about-us .about-container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  main .benefits .benefit-card{
    width: calc(100% / 2 - 20px);
  }

  main .about-us .about-container .description{
    width: 60%;
  }

  main .about-us .about-container .slogan{
    width: 40%;
  }

  main .cta .cta-container .cta-contenuto{
    width: 90%;
    margin: 0 auto;
  }

  footer .footer-container{
    width: 60%;
  }

}

/*risoluzione desktop*/
@media screen and (min-width: 1100px){
  .header-container, .container-card, .colored-container, .testimonial-container, .benefits-container, .about-container, .cta-container{
    width: 70%;
  }

  /*header*/
  header .header-container .burger-menu{
    display: none;
  }

  header .header-container .menu{
    display: block;
  }

  header .header-container .menu ul{
    display: flex;
    list-style: none;
  }

  header .header-container .menu ul li{
    padding-left: 15px;
  }

  header .header-container .menu ul li a{
    text-decoration: none;
    color: white;
    cursor: pointer;
  }

  /*colored section*/
  .colored-container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    
  }

  .colored-section .left{
    display: flex;
    flex-direction: column;
 
  }

  .left, .box{
    width: 45%;
  }

  .box{
    height: 40%;
  }


  /*benefits section*/
  main .benefits .benefit-card{
    width: calc(100% / 3 - 20px);
  }

  /*about us*/
  main .about-us .about-container .description{
    width: 70%;
  }

  main .about-us .about-container .slogan{
    width: 30%;
  }

  /*cta*/
  main .cta .cta-container .cta-contenuto{
    width: 50%;
    margin: 0 auto;
  }

  /*footer*/
  footer .footer-container{
    width: 40%;
  }
}