*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container{
  width: 90%;
  margin: 0 auto;
}

/*header*/
header{
  background-color: #0084fd;
  height: 60px;
}

.header-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/*main*/

/*card section*/
.container-card{
  display: flex;
  flex-direction: column;
}

main .card {
  background-color: aquamarine;
  width: 100%;
  height: 300px; /*da togliere*/
  margin: 10px 0;
}

/*colored section*/
main .colored-section, main .benefits{
  background-color: #9792e4;
}

main .colored-section .image{
  /*da togliere*/
  background-color: yellow;
  height: 150px;
}

main .colored-section .text{
  background-color: blue;
}

main .colored-section .box{
  background-color: orchid;
}

/*testimonial section*/
main .testimonials{
  text-align: center;
}

main .testimonials .testimonial-cards{
  background-color: orange;
  display: flex;
  flex-direction: column;
}

main .testimonials .testimonial-cards .testimonial{
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
}

/*benefits section*/
main .benefits .benefit-card{
  background-color: lightgreen;
  height: 150px; /*da togliere*/
  margin-bottom: 20px;
}

main .benefits h2{
  text-align: center;
}

/*about us section*/
main .about-us .description{
  background-color: brown;
}

main .about-us .slogan{
  background-color: lightpink;
}


/*************soluzioni responsive*****************/


/*risoluzione tablet*/
@media screen and (min-width: 768px){
  .container-card{
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  main .card{
    width: 200px; /*da togliere*/
  }

  main .benefits .benefits-container, main .about-us .about-container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  main .benefits .benefit-card{
    width: calc(100% / 2 - 20px);
  }

  main .about-us .about-container .description{
    width: 60%;
  }

  main .about-us .about-container .slogan{
    width: 40%;
  }
}

/*risoluzione desktop*/
@media screen and (min-width: 1100px){
  .header-container, .container-card, .colored-container, .testimonial-container, .benefits-container, .about-container{
    width: 70%;
  }

  .colored-container{
    height: 250px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

  .colored-container .image, .colored-container .text, .colored-container .box{
    width: calc(100% / 2);
  }

  main .benefits .benefit-card{
    width: calc(100% / 3 - 20px);
  }

  main .about-us .about-container .description{
    width: 70%;
  }

  main .about-us .about-container .slogan{
    width: 30%;
  }
}