*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container{
  width: 90%;
  margin: 0 auto;
}

/*header*/
header{
  background-color: #0084fd;
  height: 60px;
}

.header-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/*main*/

/*card section*/
.container-card{
  display: flex;
  flex-direction: column;
}

main .card {
  background-color: aquamarine;
  width: 100%;
  height: 300px; /*da togliere*/
  margin: 10px 0;
}

/*colored section*/
main .colored-section{
  background-color: #9792e4;
}

main .colored-section .image{
  /*da togliere*/
  background-color: yellow;
  height: 150px;
}

main .colored-section .text{
  background-color: blue;
}

main .colored-section .box{
  background-color: orchid;
}

/*risoluzione tablet*/
@media screen and (min-width: 768px){
  .container-card{
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  main .card{
    width: 200px; /*da togliere*/
  }
}

/*risoluzione desktop*/
@media screen and (min-width: 1100px){
  .header-container, .container-card, .colored-container{
    width: 70%;
  }

  .colored-container{
    height: 250px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

  .colored-container .image, .colored-container .text, .colored-container .box{
    width: calc(100% / 2);
  }
}